body {
  background-color: black;
}

.social {
  width: 400px;
  background-color: black;
  text-align: left;
  float: left;
  height: 131px;
}

.banner {
  width: auto;
  display: flex;
  justify-content: center;
}

.dropbtn {
  background-color: black;
  color: #56d542;
  padding: 16px;
  font-size: 18px;
  border: none;
  float: right;
  width: 320px;
  height: 131px;
  font-family: Comic sans MS;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 320px;
  font-family: Comic sans MS;
  height: 131px;
}

.dropdown-content a {
  color: #56d542;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  text-align: right;
}

.dropdown-content a:hover {
  background-color: #201f1f;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #201f1f;
}

.aaa {
  font-size: 18px;
  color: #56d542;
  font-family: Comic sans MS;
  text-decoration: none;
  line-height: 20px;
  margin-top: 0;
}

a:hover {
  color: #00ffab;
}

.footer {
  color: #56d542;
  background-color: black;
  font-family: 'Kreadon', sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 10px;
  border-top: solid 2px;
  margin-top: 25px;
}

.tripper {
  max-width: 40%;
  max-height: 50%;
  margin: 0 auto;
  padding: 0 0;
  margin-top: -15%;
}

.tripper1 {
  max-width: 40%;
  max-height: 50%;
  margin: 0 auto;
  padding: 0 10px;
  margin-top: -15%;
}

.tripper2 {
  max-width: 40%;
  max-height: 50%;
  margin: 0 auto;
  padding: 0 10px;
  margin-top: -15%;
}

.tripper3 {
  max-width: 40%;
  max-height: 50%;
  margin: 0 auto;
  padding: 0 10px;
  margin-top: 5%;
}

.texte {
  text-align: center;
  color: #56d542;
  font-family: 'Kreadon', sans-serif;
  font-size: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

#up {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 1px;
  left: 20px;
  border-radius: 30px;
  cursor: pointer;
}
  @import url('https://fonts.cdnfonts.com/css/kreadon');
